!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.idea
/.foreman
/solr
/design/node_modules
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
solr/
public/components/foundation/scss/.sass-cache
dump.rdb
database.yml
Gemfile.lock
