<div class="one-search-result">
  <div class="box-hold box search-thumbnail" style="background-image: url(<%= page.image.url(:thumb)%>);">
    <a href="<%= article_url(page.article_id, :page => page.page_no - 1) %>">
      <span class="author-block">
      </span>
    </a>
  </div>
  <div class="search-body">
    <h3 class="search-result-title"><%= link_to highlight(page.title || '', key_words), article_url(page.article_id, :page => page.page_no - 1) %></h3>
    <div class="body-one-search-result">
      <p class="search-result-body"><%= highlight(page.desc || '', key_words) %></p>
    </div>
  </div>
  <div class="clear-both"></div>
</div>
