<ul id="search-results">
  <% if @articles.count + @pages.count == 0 %>
    <div>
      <p id="search-notfound"> Your search - "<strong><em><%= @key_words.join(" ") %></em></strong>" - did not match any articles.  </p>
      <p id="search-notfound">Suggestions:</p>
      <ul id="search-notfound-suggestions">
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try different keywords.</li>
        <li>Try more general keywords.</li>
      </ul>
    </div>
  <%end%>
  <% @articles.each do |article| %>
    <li>
    <%= render partial: 'result_search_article',
      locals: {article: article, key_words: @key_words} %>
    </li>
  <% end %>
  <% @pages.each do |page| %>
    <li>
    <%= render partial: 'result_search_page',
      locals: {page: page, key_words: @key_words} %>
    </li>
  <% end %>
</ul>
