<div class="inner-box">
  <div class="type-post hentry category-inspiration has-image box post shown" style="background-image: url(<%= article.mini_thumbnail %>);">
    <a href="<%= article_url(article) %>">
      <h2><%= article.title %></h2>
      <span class="author-block">
      </span>
    </a>
  </div>
</div>
