<div class="chrome-square inner-space" id="filter-page" >
  <% if (@isAdmin) %>
      <h2><%= link_to "Start Scanner", filter_brokenscanner_path %></h2> <br>
      <h2>See <%= link_to "Broken List", filter_broken_path %></h2> <br>
  <%end%>
  <h2>See <%= link_to "Your Articles", filter_all_path %></h2>
</div>
