<div class="subscribe">
  <h1>Get more stuffs like this <b>In your Inbox</b></h1>
  <form class="subscribe" data-remote="true" method="post"
    id="new_subscriber" action="<%= subscribers_path %>">
    <input type="text" name="subscriber[email]" placeholder="your@email.com">
    <button type="submit">Sign Up</button>
  </form>
</div>

