<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='tracking-container'>
      <a class="brand large-screen-only" href="<%= publishers_path  %>">Affiliate System</a>
      <% if current_user.admin? %>
        <%= link_to "Admin Panel", "/admin", :class => "brand large-screen-only" %>
      <% end %>
      <%= link_to "Home page", "/", :class => "brand" %>
      <%= link_to "Sign Out", destroy_user_session_path, :class => "brand" %>
      <div class="clear-both"></div>
    </div>
  </div>
</div>
