<div class="control-group string">
  <label class="string optional control-label"></label>
  <div class="controls">
    <span class="label label-success" name="publisher[bank_account]" size="50" type="text" value=""><%= method %>:</span>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Heads up!</strong> <%= warning %>
    </div>
  </div>
</div>

