<span class="cmd statistic-badge btn btn-<%= badge_type %>">
  <i class="icon-<%= icon %>"></i>
  <div class="statistic-detail">
    <p class="statistic-label"><%= label %>:</p>
    <p class="statistic-value"><%= value %></p>
  </div>
  <div class="clear-both"></div>
</span>

