<div id="editModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
      <i class="icon-plus-sign"></i>
      Add Image
    </h3>
  </div>
  <div class="modal-body">
    <%= form_for(image, :url => edit_upload_image_path(image)) do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "SHARE" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= image_tag image.content.url(:medium) %>
  </div>
</div>
