<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
      <i class="icon-plus-sign"></i>
      Add Image
    </h3>
  </div>
  <div class="modal-body">
    <h4>Upload an Image</h4>
    <%= form_for( :upload_image,
                  :url => upload_images_path,
                  :method => "post",
                  :html => { :class=> "form-inline",
                             :id => "uploadimage",
                             :enctype=>"multipart/form-data"
                           }
                  ) do |f| %>
    <div class="upload_box drag_box">
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span> Upload file... </span>
        <input type="file" name="upload_image[content]">
      </span>
    </div>
    <div id="progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
    <div id="files" class="files"></div>
    <hr>
    <h4>OR Via Url</h4>
      <input type="text" class="input-xlarge" name="upload_image[image_url]" placeholder="Paste image URL">
      <button type="submit" class="btn btn-info">Add Image</button>
    <% end %>
  </div>
</div>