<div class="row">
  <div class="small-12 medium-7 medium-centered large-6 columns">
    <div class="badge-form fadeIn animated">
      <h3 class="title">Send Message</h3>
      <div class="content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
