@import nib
// @import 'nib/border.styl'
// @import 'nib/clearfix.styl'
// @import 'nib/color-image.styl'
// @import 'nib/config.styl'
// @import 'nib/flex.styl'
// @import 'nib/gradients.styl'
// @import 'nib/iconic.styl'
// @import 'nib/image.styl'
// @import 'nib/index.styl'
// @import 'nib/overflow.styl'
// @import 'nib/positions.styl'
// @import 'nib/reset.styl'
// @import 'nib/size.styl'
// @import 'nib/vendor.styl'
// @import 'nib/text/aliases.styl'
// @import 'nib/text/ellipsis.styl'
// @import 'nib/text/hide-text.styl'
// @import 'nib/text/index.styl'
// @import 'nib/text/replace-text.styl'
// @import 'nib/text/shadow-stroke.styl'

@import url('http://fonts.googleapis.com/css?family=Raleway:300,600,700,900')

headerFont = 'Raleway', sans-serif
serifFont = 'Georgia', 'Times New Roman',  serif

topBarHeight = 110px
spinnerColor = #bbb
mainColors = #b81b1b, #15992A, #E56C19, #C1004F, #B81B6C, #691BB8, #1B58B8, #4294DE, #00AAAA, #83BA1F, #D39D09, #E064B7, #C35D15

noteColor = #fc7
facebookColor = #3b5998
twitterColor = #00aced
googleColor = #dd4b39
pinterestColor = #cb2027

submitColor = #0078e7
secondaryColor = #ccc
successColor = #1cb841
warningColor = #df7514
alertColor = #ca3c3c
infoColor = #00aced

defaultTransition()
	transition all .3s ease-in-out

// media queries
small-range-lower = 0em
small-range-upper = 40em
medium-range-lower = 40.063em
medium-range-upper = 64em
large-range-lower = 64.063em
large-range-upper = 90em
xlarge-range-lower = 90.063em
xlarge-range-upper = 120em
xxlarge-range-lower = 120.063em
xxlarge-range-upper = 99999999em

only-screen = 'only screen'
landscape = only-screen + ' and (orientation: landscape)'
portrait = only-screen + ' and (orientation: portrait)'
small-up = only-screen
small-only = only-screen + ' and (max-width: ' + small-range-upper + ')'
medium-up = only-screen + ' and (min-width: ' + medium-range-lower + ')'
medium-only = only-screen + ' and (min-width: ' + medium-range-lower + ') and (max-width: ' + medium-range-upper + ')'
large-up = only-screen + ' and (min-width: ' + large-range-lower + ')'
large-only = only-screen + ' and (min-width: ' + large-range-lower + ') and (max-width: ' + large-range-upper + ')'
xlarge-up = only-screen + ' and (min-width: ' + xlarge-range-lower + ')'
xlarge-only = only-screen + ' and (min-width: ' + xlarge-range-lower + ') and (max-width: ' + xlarge-range-upper + ')'
xxlarge-up = only-screen + ' and (min-width: ' + xxlarge-range-lower + ')'
xxlarge-only = only-screen + ' and (min-width: ' + xxlarge-range-lower + ') and (max-width: ' + xxlarge-range-upper + ')'

small = medium-up
medium = medium-up
large = large-up

@require 'minimal.styl'
@require 'manage.styl'

// facebook

#fb-root
	display none

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style]
	width 100% !important

#_atssh
	display none

// perfect scrollbar

.perfect-scrollbar
	position relative
	overflow hidden

// general

.full-width
	width 100%
	margin-left auto
	margin-right auto
	max-width 100%

.full-height
	height 100%
	
ul.colors
	margin 0 0 50px 0
	padding 0
	list-style none
	for color, i in mainColors
		> li:nth-child({i + 1})
			background-color color
	> li
		color white
		display inline-block
		width 50px
		height 50px
		line-height 50px
		text-align center

section.content
	input[type='file']
		padding 15px
	label
		font-family headerFont
		font-weight 600
		> input,
			textarea,
			select
				margin-top 7px
	input,
	textarea,
	select
		outline none
		font-family headerFont
		font-weight 600
		background-color white
		&:active, &:hover, &:focus
			background-color white
		&.dark
			border 1px solid transparent
			background-color darken(white, 5)
			&:active, &:focus
				background-color darken(white, 10)
			&:hover
				background-color darken(white, 7)
			
	textarea
		font-family serifFont
		font-weight 300
		font-size 15px
		font-style italic
		&.sans
			font-size 14px
			font-family headerFont
			font-weight 600
			font-style normal

.space
	margin-right 5px
	
.space-10
	margin-right 10px
	
.space-left
	margin-left 10px

h1, h2, h3, h4
	font-family headerFont
	font-weight 900
	
h5, h6
	font-family headerFont
	font-weight 700
	
a, p, span
	font-family headerFont
	font-weight 600

.z-1000
	z-index 1000
		
.alert-box
	font-family headerFont
	font-weight 600
	&.note
		background-color noteColor
		color black
		&:hover
			background-color darken(noteColor, 10)

.button, button
	font-weight 700
	font-family headerFont
	&.tiny
		text-transform uppercase

.unfloat-for-small
	@media small-only
		float none !important
		
.reveal-modal
	h2
		font-size 25px
		text-transform uppercase
		b
			font-weight 900
			color mainColors[0]

.modal
	&.full
		background-size 100% 100% !important
		background-repeat no-repeat !important
		height 100% !important
		top 0px !important
		left 0px !important
		margin 0px 0px 0px 0px !important

.small-text-centered
	@media small-only
		text-align center
		
.no-transition
	-webkit-transition none !important
	-moz-transition none !important
	-o-transition none !important
	-ms-transition none !important
	transition none !important

body
	overflow-x hidden
	background-attachment fixed
	background-image url(../images/bg.jpg)
	
div.spinner
	display inline-block
	width 50px
	height 40px
	text-align center
	font-size 10px
	> div
		background-color spinnerColor
		height 100%
		width 6px
		display inline-block
		animation stretchdelay 1.2s infinite ease-in-out
	> div.rect-2
		animation-delay -1.1s
	> div.rect-3
		animation-delay -1s
	> div.rect-4
		animation-delay -.9s
	> div.rect-5
		animation-delay -.8s

@-webkit-keyframes stretchdelay
	0%, 40%, 100% 
		-webkit-transform scaleY(0.4)
	20%
		-webkit-transform scaleY(1.0)

@keyframes stretchdelay
	0%, 40%, 100%
		transform scaleY(0.4)
	20%
		transform scaleY(1.0)

a.scroll-top
	z-index 12
	display block
	position fixed
	bottom 30px
	right 0
	padding 25px 20px
	background-color white
	font-size 13px
	text-transform uppercase
	text-align center
	line-height 18px
	color black
	font-weight 700
	&:hover, &:focus
		background-color rgba(black, .9)
		color white
	> span
		font-size 30px
		margin-bottom 5px
		
div.page
	a
		defaultTransition()
	.button
		&.color
			defaultTransition()
			background-color lighten(black, 20)
			color white
			font-size 15px
			padding 14px 20px
			&:hover, &:focus
				color white
	for color, i in mainColors
		&.color-{i}
			a
				color color
				&:hover
					color lighten(color, 10)
			div.header
				div.info
					background-color color
					div.author
						background-color darken(color, 5)
			div.content
				div.article
					ul.board
						> li
							> div.counter
								> p.number
									background-color color
			.button
				&.color
					&:hover, &:focus
						background-color color
	div.header
		background linear-gradient(top, rgba(white, 1), rgba(white, 0))
		h1.title
			font-size 35px
			font-weight 700
			text-transform capitalize
			padding 20px 20px
			defaultTransition()
			@media small-only
				font-size 23px
				padding 20px 10px 10px 10px
			@media medium-only
				font-size 25px
			@media large-up
				font-size 33px
				padding-top 35px
		ul.tags
			margin 0
			padding 0 20px
			li
				display inline-block
				&:not(:last-child)
					margin-right 10px
				a
					display block
					padding 5px 10px 4px 10px
					color lighten(black, 55)
					text-transform uppercase
					font-size 12px
					background-color white
					&:hover
						color black
						background-color darken(white, 10)
		div.info
			position relative
			background-color mainColors[0]
			color white
			font-size 14px
			padding 20px 20px 0 20px
			margin-top -16px
			@media small-only
				margin-right 0
				margin-bottom 10px
				p
					display inline-block
					&:not(:first-child)
						margin-left 10px
			@media medium-up
				padding-top 50px
				margin-right 10px
				margin-bottom 20px
				&:after
					content ''
					border 8px solid lighten(black, 10)
					border-right-color transparent
					border-top-color transparent
					right -16px
					top 0
					position absolute
			div.author
				background-color darken(mainColors[0], 10)
				margin 10px -20px
				text-align center
				padding 15px 0 10px 0
				> div.avatar
					width 64px
					height 64px
					display inline-block
					border-radius 32px
					background-color lighten(black, 20)
					background-size cover
					background-position center
					background-repeat no-repeat
					border 2px solid white
				> p.name
					margin 0
					display block
					text-align center
			p
				margin 0
				&.category
					font-weight 900
					font-size 25px
					text-transform uppercase
					display block
					width 100%
					overflow hidden
					text-overflow ellipsis
					
	div.content
		font-size 18px
		padding 30px 20px 0 20px
		margin 0
		@media small-only
			padding 0 10px 30px 10px
		div.navigation
			a.button
				margin 0
		div.sharing
			text-align right
			margin 35px 0 30px 20px
		div.article
			margin-top 30px
			h1, h2, h3, h4, h5, h6
				font-weight 700
				margin 30px 0 15px 0
			ul
				li
					font-weight 600
					margin-bottom 5px
					font-size 16px
					color lighten(black, 30)
					@media small-only
						font-size 15px
			p
				font-size 17px
				font-weight 600
				color lighten(black, 30)
				@media small-only
					font-size 16px
			div.embed
				margin 30px 0
				position relative
				text-align center
				> a.source
					display block
					margin-top 10px
					font-size 16px
					word-break: break-all
					@media small-only
						display none
					&:before
						font-family headerFont
						content 'Source'
						text-transform uppercase
						font-weight 900
						font-size 14px
						margin-right 10px
				> img ~ a.source
					position absolute
					font-size 0
					margin 20px 20px 0 0
					padding 3px 10px
					background-color rgba(black, .6)
					right 0
					top 0
					color white
					&:hover
						background-color white
						color black
					&:before
						font-size 14px
						font-weight 900
						margin 0
			ul.board
				margin 0
				padding 0
				list-style none
				@media medium-up
					&:first-child
						margin-top 90px
				&.no-counter-number
					div.counter
						> p.number
							display none
						> h4.title
							padding-left 20px
				div.counter
					position relative
					badgeWidth = 60px
					badgeHeight = 60px
					> p.number
						position absolute
						width badgeWidth
						background-color mainColors[0]
						color white
						font-size 36px
						font-weight 700
						text-align center
						height badgeHeight
						line-height badgeHeight - 5px
						margin 0
						z-index 1
					> h4.title
						border-top 1px solid darken(white, 5)
						margin 0
						color black
						font-size 18px
						font-weight 700
						padding: 12px 20px 12px badgeWidth + 15px
						background rgba(white, .9)
	&.feed
		font-weight 300
		font-family headerFont
		font-size 18px
	
section.top
	size = 110px
	background-color white
	position fixed
	top 0
	right 0
	left 0
	height size
	z-index 10
	overflow hidden
	&.non-fixed
		position initial
		margin-bottom 50px
	&.shadow
		box-shadow 0 0 50px rgba(black, .2)
	a.search-toggle
		display inline-block
		color black
		font-weight 300
		text-transform lowercase
		line-height size
		font-size 18px
		> i
			font-size 25px
			line-height 25px
	div.search-form
		form
			width 100%
			input.search-box
				width 100%
				font-family headerFont
				font-size 20px
				margin-top (topBarHeight / 4)
				height (topBarHeight / 2)
				padding 0 15px
				font-weight 600
				border none
				background-color darken(white, 7)
				border-radius 5px
	a.logo
		padding 33px 0 20px 0
		display inline-block
		h1.title
			text-transform uppercase
			font-size 35px
			line-height 20px
			defaultTransition()
		p.sub-title
			margin 0
			letter-spacing 4px
			color lighten(black, 30)
			font-size 16px
			text-transform uppercase
			font-weight 300
			defaultTransition()
		@media small-only
			h1.title
				font-size 27px
				line-height 15px
			p.sub-title
				font-size 14px
				letter-spacing 2px
	ul.social-networks
		margin 0
		padding 0
		list-style none
		font-size 0
		> li
			display inline-block
			position relative
			> a
				display block
				font-size 30px
				padding 0 10px 0 20px
				line-height topBarHeight
				position relative
				&.with-counter
					padding-right 70px
				> span.counter
					bg-color = darken(white, 15)
					display block
					position absolute
					margin -15px 0 0 5px
					top 50%
					right 10px
					font-size 13px
					font-family headerFont
					font-weight 600
					color black
					background-color bg-color
					padding 0 8px
					line-height 30px
					&:before
						content ''
						display block
						position absolute
						left -12px
						top 50%
						margin-top -6px
						border 6px solid transparent
						border-right-color bg-color
					
				&.facebook
					color facebookColor
					&:hover
						color lighten(@color, 10)
				&.twitter
					color twitterColor
					&:hover
						color lighten(@color, 10)
				&.google-plus
					color googleColor
					&:hover
						color lighten(@color, 10)
				&.pinterest
					color pinterestColor
					&:hover
						color lighten(@color, 10)
					
			&:not(:last-child)
				&:after
					content '/'
					position absolute
					top 50%
					line-height 20px
					margin-top -10px
					font-size 30px
					font-weight 100
					color darken(white, 10)
		
section.menu
	padding-top 110px
	background-color white
	margin-bottom 75px
	@media small-only
		margin-bottom 20px
	div.trending
		badgeSize = 100px
		sliderHeight = 400px
		margin 0 0 35px 0
		position relative
		height sliderHeight
		overflow hidden
		ul.slides
			position relative
			margin 0
			padding 0
			list-style none
			overflow visible
			> li
				position absolute
				top 0
				bottom 0
				left 0
				width 100%
				height sliderHeight
				transition left .5s, margin-left .5s
				&.ohide
					opacity 0
				&.previous
					left -100%
					margin-left -40px
				&.next
					left 100%
					margin-left 40px
				> div.image
					margin-left badgeSize
					background-size cover
					// background-position center
					background-position top 30% center
					height sliderHeight
					@media small-only
						margin-left (badgeSize / 2)
				> div.overlay
					position absolute
					top 0
					bottom 0
					right 0
					left badgeSize
					background-color rgb(155, 126, 98)
					opacity 0
					@media small-only
						left (badgeSize / 2)
				> div.info
					position absolute
					bottom 0
					left 0
					right 60%
					defaultTransition()
					@media small-only
						right 0
					a
					> h1.title
						margin 0
						> a
							font-family headerFont
							font-weight 900
							display block
							font-size 30px
							text-transform uppercase
							background-color lighten(black, 10)
							color white
							padding 30px 40px
							line-height 35px
							defaultTransition()
							@media small-only
								padding 20px 30px
								font-size 22px
								line-height 30px
					> h2.category
						margin 0
						display block
						font-size 20px
						text-transform uppercase
						color white
						width badgeSize
						text-align center
						line-height badgeSize
						right 0
						@media small-only
							// font-size 18px
							
	a.toggle
		text-align right
		display block
		background-color darken(white, 10)
		color black
		padding 10px 20px
		defaultTransition()
		&:hover, &:focus
			background-color black
			color white
		> i
			margin-left 10px

	ul.menu
		margin 0 0 -30px 0
		padding 0
		font-size 0
		width 100%
		list-style none
		background-color black
		text-align center
		> li
			display inline-block
			position relative
			margin 0
			padding 0
			for color, i in mainColors
				&.color-{i+1}
					&:hover
						> a
							background-color darken(color, 5)
					@media small-only
						&:hover
							> a
								background-color transparent
						> a
							&:before
								color lighten(color, 10)
							&:hover
								background-color transparent
						> ul.sub-menu
							display block
							position initial
							width auto
							> li
								margin-left 32px
								&:hover
									> a
										background-color transparent
										color lighten(black, 50)
								> a
									padding 3px 0
									background-color transparent
					&.active
						> a
							background-color color
							color white
							&:before
								color transparent
			&.with-fill-menu
				position initial
			&:hover
				> ul.sub-menu
					display block
				> div.fill-menu
					display block
			> a
				defaultTransition()
				display block
				width 100%
				color darken(white, 10)
				font-size 15px
				text-transform uppercase
				font-weight 900
				padding 15px 20px
				&:hover
					color white
			> div.fill-menu
				display none
				margin 0
				padding 0
				position absolute
				z-index 9
				left 0
				right 0
				text-align left
				div.menu-content
					padding 30px
					background-color darken(white, 1)
					> ul.menu-grid
						> li
							> h3.title
								font-size 16px
								font-weight 900
								text-transform uppercase
							> ul.menu-sub-grid
								> li
									padding-bottom 0
									> a
										font-size 14px
										font-weight 600
										color lighten(black, 20)
										defaultTransition()
										&:before
											defaultTransition()
											content '■'
											margin-right 10px
										&:hover
											color lighten(black, 40)
											&:before
												color mainColors[0]
				
			> ul.sub-menu
				display none
				margin 0
				padding 0
				list-style none
				position absolute
				z-index 11
				width 170px
				> li
					&:first-child
						> a
							padding-top 11px
					&:not(:last-child)
						border-bottom 1px solid darken(white, 15)
					&:last-child
						> a
							padding-bottom 11px
					&:hover, &:focus
						> a
							background-color darken(white, 14)
							color black
					> a
						background-color darken(white, 5)
						defaultTransition()
						font-size 14px
						padding 10px 20px
						display block
						text-align left
						color black
						
		@media small-only
			background-color white
			margin-bottom 15px
			margin-top 20px
			> li
				display block
				&.active
					> a
						font-weight 900
				&.home
					> a
						> i
							display none
						&:after
							content 'Home'
				&:hover
					> a
						color lighten(black, 40)
				> a
					color lighten(black, 30)
					text-transform uppercase
					font-weight 600
					text-align left
					padding 5px 15px
					display block
					font-size 14px
					&:before
						content '■'
						margin-right 10px
						defaultTransition()
				&.with-fill-menu
					> a
						display none
					> div.fill-menu
						display block
						position initial
						div.menu-content
							background-color transparent
							padding 20px 0
					
section.editor
	padding-bottom 20px
	h3.title
		font-size 19px
		line-height 30px
		text-transform uppercase
		text-align right
		@media small-only
			text-align left
	ul.sub-menu
		margin 0 -5px
		> li
			padding 0 5px 10px 5px
			&.active
				> a
					background-color lighten(black, 10)
					color white
			> a
				background-color white
				padding 7px 15px
				display block
				defaultTransition()
				font-size 14px
				color lighten(black, 30)
				&:hover, &:focus
					background-color darken(white, 15)
					color black

section.notifications
	z-index 1
	pointer-events none
	div.notifications
		pointer-events auto
		> div.alert-box
			defaultTransition()
			margin 0
			border-bottom 1px solid rgba(black, .1)

section.content
	margin 30px 0
	@media small-only
		margin-bottom 250px
	div.loader
		text-align center
		padding 30px 0
		img.spinner
			width 50px
			height 50px
	div.links-box
		margin 30px 0 40px 0
		h1.title
			font-size 30px
			margin-bottom 15px
		> ul.links
			list-style none
			padding 0
			margin 0
			> li
				&:not(:last-child)
					margin-bottom 7px
				> a
					defaultTransition()
					color lighten(black, 20)
					display inline-block
					font-size 14px
					padding 7px 15px
					background-color white
					&:hover
						border-left 8px solid mainColors[0]
						background-color darken(white, 3)
						margin-left 10px
					
	div.facebook-box
		padding-right 15px
		position relative
		@media small-only
			padding-right 0
		div.info
			background-color white
			@media small-only
				right 0
			> div.content
				padding 20px 15px
				@media small-only
					padding 20px 20px
			> h1.title
				position relative
				color white
				text-transform uppercase
				padding 12px 20px
				background facebookColor
				margin 0 0 0 60px
				font-size 25px
				@media small-only
					margin 0
					text-align center
				@media medium-up
					font-size 20px
					margin 0 -15px 0 80px
					&:after
						size = 8px
						content ''
						position absolute
						bottom -(size * 2)
						right 0
						border size solid darken(facebookColor, 20)
						border-bottom-color transparent
						border-right-color transparent
				@media large-up
					font-size 25px

	ul.feeds
		> li
			div.news-letter
				padding-right 15px
				position relative
				@media small-only
					height 340px
					padding-right 0
				div.image
					@media small-only
						height 340px
				div.info
					background-color rgba(black, .6)
					position absolute
					top 0
					bottom 0
					left 0
					right 15px
					@media small-only
						right 0
					form.subscribe
						text-align center
						> input
							font-family headerFont
							width 100%
							padding 10px 35px
							font-size 20px
							line-height 30px
							height 45px
							border none
							font-weight 600
							margin 0
							&:hover, &:active, &:focus
								box-shadow 0 0 10px rgba(lighten(white, 20), .4)
						button
							position absolute
							bottom 0
							left 50%
							width 120px
							margin 0 0 0 -60px
							background-color darken(white, 10)
							color black
							font-weight 600
							font-family headerFont
							padding 0
							line-height 60px
							defaultTransition()
							&:hover
								background-color mainColors[0]
								color white
					> p
						color white
						font-family serifFont
						font-style italic
						margin 30px 35px 20px 35px
						font-size 16px
						font-weight 300
						line-height 26px
					> h1.title
						position relative
						color white
						text-transform uppercase
						padding 12px 20px
						background mainColors[0]
						margin 0 0 0 60px
						font-size 25px
						@media small-only
							margin 0
							text-align center
						@media medium-up
							font-size 20px
							margin 0 -15px 0 80px
						@media large-up
							font-size 25px
							&:after
								size = 8px
								content ''
								position absolute
								bottom -(size * 2)
								right 0
								border size solid darken(mainColors[0], 20)
								border-bottom-color transparent
								border-right-color transparent
			div.image
				background-color darken(white, 20)
				background-size cover
				background-repeat none
				background-position center
				width 100%
				height 300px
			> a
				display block
				position relative
				> div.info
					position absolute
					bottom 0
					right 0
					left 0
					> h3.title
						position relative
						defaultTransition()
						padding 24px 20px 12px 20px
						background-color rgba(darken(#444, 10), .9)
						background linear-gradient(top, transparent, rgba(#000, .9))
						color white
						font-size 16px
						font-weight 600
						text-transform capitalize
						margin 0
						padding-top auto
					> span.category
						float right
						padding 20px 20px
						display none
						text-transform uppercase
						color white
						background-color darken(#444, 10)
				@media large-up
					padding-right 15px
					> div.info
						> h3.title
							padding 12px 20px
							margin 0 0 0 50px
							background rgba(#222, .95)
							&:after
								size = 8px
								content ''
								position absolute
								top -(size * 2)
								right 0
								border size solid darken(#444, 20)
								// border size solid lighten(black, 40)
								border-top-color transparent
								border-right-color transparent

section.bottom
	min-height 400px
	background-image url(../images/footer-bg.jpg)
	background-size cover
	background-position center right
	margin 150px 0 -1px 0
	bottomBarHeight = 220px
	&.light
		background-image none
		background-color darken(white, 10)
		h2.sub-title
			color black
		ul.category-links
			> li
				> a
					color lighten(black, 30)
	div.footer-block
		z-index 11
	ul.category-links
		margin-bottom 80px
		> li
			padding-bottom 10px
			> a
				defaultTransition()
				border-bottom 1px dotted rgba(white, .1)
				font-size 15px
				color darken(white, 10)
				display block
				width 100%
				overflow hidden
				text-overflow ellipsis
				text-transform uppercase
				margin-bottom 5px
				margin-top 10px
		ul.sub-category-links
			> li
				padding-bottom 0
				> a
					color darken(white, 20)
					font-size 12px
					display block
					width 100%
					overflow hidden
					text-overflow ellipsis
					defaultTransition()
					&:hover
						color white
	h2.sub-title
		margin 40px 0 15px 0
		font-size 25px
		font-weight 900
		color white
		text-transform uppercase
	div.cube-wrapper
		height bottomBarHeight
		margin (-@height / 2) 0 0 0
		@media small-only
			margin-top (- bottomBarHeight)
		div.social-links
			position relative
			height bottomBarHeight
			margin 0
			padding 0
			list-style none
			div
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				text-align center
				color white
				height bottomBarHeight
				> i
					padding-top 40px
					font-size 150px
				&.facebook
					background-color facebookColor
				&.twitter
					background-color twitterColor
				&.google
					background-color googleColor
				&.pinterest
					background-color pinterestColor
	div.subscribe
		background-color lighten(black, 5)
		height bottomBarHeight
		margin-top (-@height / 2)
		padding 20px 30px
		@media small-only
			margin-top 0
			margin-bottom 20px
		input
			font-family headerFont
			font-weight 600
			font-size 16px
			height 45px
			border none
			padding 10px 15px
		h1
			text-align left
			font-size 20px
			color darken(white, 20)
			text-transform uppercase
			margin 0
			padding 20px 0
			@media small-only
				font-size 17px
			> b
				display inline-block
				font-size 25px
				font-weight 900
				color white

// bx slider
div.trending
	div.bx-wrapper
		position relative
		> div.bx-viewport
			height 400px
		> div.bx-controls
			position absolute
			bottom 0
			right 0
			> div.bx-controls-direction
				@media small-only
					display none
				> a.bx-next, > a.bx-prev
					display inline-block
					background-color black
					color white
					font-size 20px
					font-weight 300
					text-transform uppercase
					line-height 50px
					width 50px
					text-align center
					defaultTransition()
					&:hover
						background-color lighten(black, 20)
				> a.bx-prev
					border-right 1px solid darken(white, 20)
