// move
body.dragging,
body.dragging *
	cursor move !important

.dragged
	position absolute
	opacity 1
	z-index 2000
				
// data tables
div.dataTables_info
	font-family headerFont
	font-weight 700
	font-size 14px
	color lighten(black, 30)
	
div.dataTables_paginate
	text-align right
	> a, > span > a
		background-color black
		display inline-block
		padding 0 10px
		line-height 30px
		color white
		margin-right 1px
		font-family headerFont
		font-size 14px
		font-weight 300
		&.next, &.previous
			font-weight 700
			text-transform uppercase
		&:hover, &.current
			background-color white
			color black
	> a:last-child
		margin-right 0
	> span > span
		padding 0 10px
		font-weight 300

div.dataTables_length
	float left
	margin-bottom 20px
	width 60px
	display block
	label
		font-size 0
		> select
			border none
			background-color darken(white, 5)
			font-family headerFont
			font-weight 700
			font-size 14px
			&:hover, &:focus
				outline none
		
div.dataTables_filter
	float right
	margin-bottom 20px
	display block
	@media small-only
		width 100%
	@media medium-only
		width 40%
	@media large-up
		width	30%
	label
		font-size 0
		> input[type='search']
			border none
			background-image url(../images/search-icon.svg)
			background-repeat no-repeat
			background-position center left 10px
			background-size 25px 25px
			font-size 16px
			padding-left 40px
			
td.dataTables_empty
	font-family headerFont
	font-weight 700
	font-size 15px
	background-color transparent !important
	
// articles pages

div.thumbs-holder
	margin-top 20px
	margin-bottom 30px

ul.thumbs
	thumbnailHeight = 125px
	itemPadding = 15px
	counter-reset thumb-counter
	margin: 0 (- itemPadding) 0 0
	padding 0
	list-style none
	font-size 0
	> li
		display block
		float left
		padding-right itemPadding
		margin-bottom itemPadding
		position relative
		@media small-only
			width (100% / 3)
		@media medium-only
			width (100% / 5)
		@media large-up
			width (100% / 8)
		&.active
			&:after
				background-color mainColors[0]
		&:after
			counter-increment thumb-counter
			content counter(thumb-counter)
			position absolute
			bottom 0
			left 0
			width 30px
			height @width
			font-size 15px
			line-height @width
			background-color black
			color white
			text-align center
			font-family headerFont
			font-weight 300
			pointer-events none
			cursor move
			defaultTransition()
		&.template
			display none
		&.sortable-placeholder
			height thumbnailHeight
			&:before
				content ''
				position absolute
				top 0
				right itemPadding
				bottom 0
				left 0
				background-color darken(white, 15)
			&:after
				background-color darken(white, 60)
		> div.image
			background-color darken(white, 20)
			cursor move
			width 100%
			height thumbnailHeight
			background-size cover
			background-position center

ul.pages
	margin 0
	padding 0
	list-style none
	> li
		margin-bottom 30px
		display none
		&.active
			display block
		table
			background-color white
			border none
			width 100%
			> tbody
				> tr
					> td
						padding 0
						&:first-child
							width 40%
						&:last-child
							width 60%
						&.form
							border 1px solid darken(white, 15)
							border-left none
							padding 20px
							line-height 26px
							textarea
								margin-bottom 0
						&.image
							background-color darken(white, 15)
							background-repeat no-repeat
							background-size cover
							background-position center
							height 220px
							position relative
							&:hover
								&:before
									background-color mainColors[0]
							&:before
								defaultTransition()
								font-family headerFont
								font-weight 700
								font-size 13px
								text-transform uppercase
								background-color black
								color white
								padding 8px 12px
								position absolute
								top 0
								left 0
							> div.index
								position absolute
								top 0
								left 0
								background-color black
								color white
								> input
									background-color transparent
									color white
									border none
									margin 0
									width 50px
									text-align center
							> ul.item-menu
								margin 0
								padding 0
								position absolute
								bottom 0
								right 0
								list-style none
								font-size 0
								> li
									background-color black
									display inline-block
									defaultTransition()
									&:not(:last-child)
										border-right 1px solid lighten(black, 30)
									&:hover
										background-color white
										> a,
										> label
											color black
									> a, 
									> label
										margin 0										
										line-height 30px
										font-size 13px
										text-transform uppercase
										padding 0 15px
										display block
										color white
		&.template
			display none
			
// articles
table.articles
	background-color transparent
	border none
	width 100% !important
	clear both
	> thead
		display none
	> tbody
		display block
		vertical-align top
		margin-right -20px
		> tr
			background-color transparent
			display inline-block
			margin-bottom 30px
			@media small-only
				width 100%
			@media medium-only
				width (100% / 3)
			@media large-up
				width (100% / 4)
			&:hover
				> td
					&.info
						> h4.title
							> a
								color mainColors[0]
			> td
				margin 0 20px 0 0
				background-color white
				display block
				padding 0
				vertical-align top
				div.image
					width 100%
					height 220px
					background-size cover
					background-position center
					background-color darken(white, 10)
				&.info
					padding 20px 20px 10px 20px
					> h4.title
						font-size 18px
						margin 0
						padding-bottom 10px
						> a
							defaultTransition()
							color black
							font-weight 700
					> p
						font-size 14px
						font-family serifFont
						font-weight 300
						font-style italic
						color lighten(black, 50)
						margin 0
				&.actions
					padding 0
					text-align right
					a.button
						font-size 13px
						text-transform uppercase
						font-weight 700
						padding 5px 10px
						background-color transparent
						color black
						margin 0
						padding 10px 10px
						&:last-child
							padding-right 15px
						&:hover
							background-color darken(white, 10)
							
div.messages
	avatarSize = 48px
	borderColor = darken(white, 10)
	frameBorder = 1px solid borderColor
	activeColor = #def
	position fixed
	top 110px
	bottom 0
	right 0
	left 0
	border-top frameBorder
	> div.row
		defaultTransition()
	div.content
		background-color white
		position relative
	div.tool-bar
		toolBarHeight = 46px
		background-color white
		border-bottom frameBorder
		position absolute
		right 0
		left 0
		top 0
		height toolBarHeight
		z-index 1
		box-shadow 0 5px 20px 0 rgba(black, .033)
		& ~ *
			padding-top toolBarHeight
		div.sort-box
			select.sort-input
				width 120px
				font-size 13px
				border none
				margin 10px 0 0 0
				height 25px
				padding 0 10px
				border-radius 3px
				defaultTransition()
				&:hover
					background-color darken(white, 5)
		div.search-box
			text-align right
			input.search-input
				min-width 60px
				width 100%
				border none
				border-radius 3px
				background-color darken(white, 5)
				font-size 13px
				height 25px
				margin 10px 0 0 0
				padding 0 15px
				defaultTransition()
	ul.folders
		margin 0
		list-style none
		background linear-gradient(top, rgba(black, .5), transparent)
		> li
			&.active
				> a
					background-color white
					color black
			> p.title
				color white
				margin 0
				padding 20px 20px 5px 20px
				font-size 12px
				font-weight 300
			> a
				// defaultTransition()
				padding 10px 20px
				color white
				font-size 20px
				text-transform uppercase
				display block
				&:hover
					background-color darken(white, 8)
					color black
				@media large-up
					font-size 13px
	ul.items
		margin 0
		padding 0
		list-style none
		height 100%
		background-color white
		overflow-y scroll
		overflow-x hidden
		> li
			background-color white
			position relative
			margin 0
			// defaultTransition()
			&:not(:last-child)
				border-bottom frameBorder
			&:hover
				background-color darken(white, 4)
				> ul.actions
					display block
			&.active
				background-color activeColor
				&:hover
					background-color darken(activeColor, 5)
			> ul.actions
				position absolute
				bottom 0
				right 20px
				display none
				margin 0
				padding 0
				list-style none
				font-size 0
				> li
					margin 0
					padding 0
					display inline-block
					> a
						display block
						font-size 12px
						font-weight 600
						padding 5px 10px 3px 10px
						margin 0
			> a
				display block
				padding 15px 20px
				// div.image
				// 	width avatarSize
				// 	height avatarSize
				// 	background-position center
				// 	background-size cover
				// 	border-radius avatarSize
				p
					font-size 14px
					color lighten(black, 30)
					font-weight 300
					margin 0
					&.title
						color black
						font-weight 600
					&.from
						font-size 13px
	div.preview
		height 100%
		font-size 15px
		background-color darken(white, 10)
		overflow-y scroll
		overflow-x hidden
		> div.message
			background-color white
			border-left 1px solid darken(white, 10)
			padding 20px 30px
			table
				border none
				background-color transparent
				width 100%
				tr
					background-color transparent
					&:last-child
						border-bottom 1px dotted darken(white, 20)
						> td
							padding-bottom 20px
					td
						padding 0
						&:first-child
							text-align right
							font-weight 600
							font-size 12px           
							text-transform uppercase
							font-family headerFont
							padding-right 20px
						p
							margin 0
			p.from
				> span.email
					font-size 13px
					color lighten(black, 30)
					margin-left 15px
			p.username
				> span.ip
					font-size 13px
					color lighten(black, 30)
					margin-left 15px
			p.title
				font-family serifFont
				font-size 20px
				line-height 30px
			> div.body
				*
					font-family sans-serif
					font-weight normal
					font-size 14px
		> div.reply-panel
			padding 20px 30px
			background-color daken(white, 20)
		> iframe
			width 100%
			height 100%
			border none
		
// dropzone

@keyframes background-move
	0% 
		background-position 0 0
	100%
		background-position 50px 50px

div.dz-default
	background-color white
	padding 20px
	font-size 15px
	cursor pointer
	border 1px solid darken(white, 20)
	text-align center
	margin-bottom 30px
	&:hover
		border 1px solid darken(white, 35)
	i.fa
		display block
		font-size 80px

div.dz-preview
	margin 20px 0 0 0
	div.dz-details
		div.dz-progress
			> span.dz-upload
				width 0
				defaultTransition()
				background-image gradient(linear, 0 0, 100% 100%,
					color-stop(.25, rgba(255, 255, 255, .2)), 
					color-stop(.25, transparent), color-stop(.5, transparent), 
					color-stop(.5, rgba(255, 255, 255, .2)), 
					color-stop(.75, rgba(255, 255, 255, .2)), 
					color-stop(.75, transparent), to(transparent)
				)
				background-image linear-gradient(
					-45deg, 
					rgba(255, 255, 255, .2) 25%, 
					transparent 25%, 
					transparent 50%, 
					rgba(255, 255, 255, .2) 50%, 
					rgba(255, 255, 255, .2) 75%, 
					transparent 75%, 
					transparent
				)
				animation background-move 2s linear infinite
				overflow hidden
				background-size 50px 50px