<div class="row">
  <div class="small-12 medium-7 medium-centered large-6 columns">
    <div class="badge-form fadeIn animated">
      <h3 class="title">Sign in</h3>
      <div class="content">
        <%= simple_form_for(resource, :as => resource_name,
                            :url => session_path(resource_name)) do |f| %>
          <div class="row">
            <div class="small-12 columns">
              <label>Email
                <input autofocus="autofocus" type="text"
                       id="user_login" name="user[login]"
                       placeholder="your@email.com">
              </label>
            </div>
            <div class="small-12 columns">
              <label>Password
                <input type="password" placeholder="" id="user_password"
                       name="user[password]">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <%= render "devise/shared/links" %>
            </div>
            <div class="small-12 columns text-right">
              <%= f.button :submit, "Sign in", class: "button badge-color" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
