<% content_for :left do %>
    <%= link_to "Term of Service", info_term_path, :class => "btn-nav1 block small-padding-left" %>
    <%= link_to "Privacy Policy", info_privacy_path, :class => "btn-nav1 block small-padding-left" %>
    <%= link_to "DMCA", info_dmca_path, :class => "btn-nav1 block small-padding-left" %>
    <%= link_to "Contact", new_message_path, :class => "btn-nav1 block small-padding-left selected" %>
<% end %>

<div class="small-padding" id="infor">
  <div id='static_content_right'>
    <h2>Follow us on Twitter: <a href="https://twitter.com/duyllc">@DuyLLC</a></h2>
    <h2>Like us on Facebook: <a href="https://www.facebook.com/pages/Teens-Digest/672493162777497">Teen's Digest</a></h2>
    <h2> Follow us on Google+: <a href="https://plus.google.com/105156720476721818430/posts">Teen's Digest</a></h2>
    <h2>Email us:  Duy@DuyLLC.net</h2>
    <h2>Our Offices: <span class='small'>VA, USA</span></h2>
  </div>
</div>