extend minimal

block script
  script(type="text/javascript", src="scripts/page.edit-profile.js")

block css

block editor-menu
  .row
    .columns.small-12.medium-3.large-2
      h3.title Dashboard
    .columns.small-12.medium-9.large-10
      ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4.sub-menu
        li
          a
            i.fa.fa-dashboard.space-10
            | Dashboard
        li.active
          a
            i.fa.fa-user.space-10
            | Edit your profile
        li
          a
            i.fa.fa-lock.space-10
            | Sign out
  .row
    .columns.small-12.medium-3.large-2
      h3.title Articles
    .columns.small-12.medium-9.large-10
      ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4.sub-menu
        li
          a(href="articles.html")
            i.fa.fa-list.space-10
            | Your articles
        li
          a(href="new-article.html")
            i.fa.fa-file.space-10
            | New articles

block notifications
  
block content
  .row
    .small-12.medium-7.medium-centered.large-6.columns
      .badge-form.fadeIn.animated
        h3.title Your Profile
        .content
          form(action="edit-profile.html", method="post")
            .row
              .small-12.columns
                label
                  | Display Name
                  input.dark(type="text", placeholder="choose your display name")
              .small-12.columns
                label
                  | Current Password
                  input.dark(type="password", placeholder="required when change password")
              .small-12.columns
                label
                  | New Password
                  input.dark(type="password", placeholder="")
              .small-12.columns
                label
                  | Confirm New Password
                  input.dark(type="password", placeholder="")
            .row
              .small-12.columns.text-right
                a.button.secondary.small(href="") Back
                button.button.badge-color.small Save
