extend layout

block script
  script(type="text/javascript", src="scripts/page.home.js")
    
block css

block hero
  div.trending
    .row
      .columns
        ul.slides
          li
            div.image(style="background-image: url(http://38.media.tumblr.com/8155e5e33f35636452643944fb4866b3/tumblr_ne71f42rI61qbd81ro1_500.png)")
            div.overlay
            div.info
              h2.category(style="background-color: #b81b6c") Life
              h1.title
                a(href="view.html") Hobbies All Girls Should Get Into
          li
            div.image(style="background-image: url(http://38.media.tumblr.com/069b08d92c201a7869b89b52e5ab3cd7/tumblr_ndktvgeV9H1qbd81ro1_500.jpg)")
            div.overlay(style="background-color: #691bb8")
            div.info
              h2.category(style="background-color: #691bb8") Beauty
              h1.title
                a(href="view.html") Thicker, Healthier Hair In Just One Month
          li
            div.image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/349/medium/open-uri20140228-8891-1uf90g3?1393648890)")
            div.overlay
            div.info
              h2.category(style="background-color: #0aa") Fitness
              h1.title
                a(href="view.html") Simple Exercises To Lose Fat
          li
            div.image(style="background-image: url(http://38.media.tumblr.com/8155e5e33f35636452643944fb4866b3/tumblr_ne71f42rI61qbd81ro1_500.png)")
            div.overlay
            div.info
              h2.category(style="background-color: #b81b6c") Life
              h1.title
                a(href="view.html") Hobbies All Girls Should Get Into
          li
            div.image(style="background-image: url(http://38.media.tumblr.com/069b08d92c201a7869b89b52e5ab3cd7/tumblr_ndktvgeV9H1qbd81ro1_500.jpg)")
            div.overlay(style="background-color: #691bb8")
            div.info
              h2.category(style="background-color: #691bb8") Beauty
              h1.title
                a(href="view.html") Thicker, Healthier Hair In Just One Month
          li
            div.image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/349/medium/open-uri20140228-8891-1uf90g3?1393648890)")
            div.overlay
            div.info
              h2.category(style="background-color: #0aa") Fitness
              h1.title
                a(href="view.html") Simple Exercises To Lose Fat

block content
  .row
    .columns
      ul.feeds.small-block-grid-1.medium-block-grid-2.large-block-grid-3
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/850/medium/open-uri20140522-13230-3y26wg?1400727937)")
            .info
              h3.title How To Tell If Someone Is Lying
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/758/medium/open-uri20140307-15336-13iia1z?1394165058)")
            .info
              h3.title Top Movie Mistakes
              span.category Misc
        li.wow.fadeIn
          .news-letter
            .image(style="background-image: url(images/subscribe-bg.jpg)")
            .info
              h1.title Subscribe Us!
              p Sign up for our daily email and get the stories everyone is talking about
              form.subscribe
                input(type="text", placeholder="your@email.com")
                button Subscribe
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/591/medium/open-uri20140303-31001-11iwcc4?1393877568)")
            .info
              h3.title Most Powerful Families In The World
              span.category lebs
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/579/medium/open-uri20140303-31092-197fdke?1393876412)")
            .info
              h3.title The Strangest Airports
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/568/medium/open-uri20140303-31599-lv9f02?1393875323)")
            .info
              h3.title The Worst Things You Can Do To Your Hair
              span.category Beauty
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/560/medium/open-uri20140303-30669-44mgin?1393873810)")
            .info
              h3.title Dumbest Marriage Proposals 
              span.category Funny
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/495/medium/open-uri20140303-4689-jcm6dr?1393816966)")
            .info
              h3.title Shows 90’s Babies Love And Miss
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/485/medium/open-uri20140303-5537-n7k3vx?1393815648)")
            .info
              h3.title Films Every Girl Should See And Learn From
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/484/medium/open-uri20140303-4738-jmdqdc?1393814727)")
            .info
              h3.title Ways To Make Money In College
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/462/medium/open-uri20140303-5627-1hrhf0u?1393812266)")
            .info
              h3.title Hobbies All Girls Should Get Into
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/453/medium/open-uri20140303-5272-163spq6?1393810361)")
            .info
              h3.title How to Avoid Freshmen 15
              span.category Action
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/411/medium/open-uri20140228-9243-12yeyyr?1393656301)")
            .info
              h3.title Hottest Brunettes Alive
              span.category Hot
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/399/medium/open-uri20140228-9276-1ww1nyc?1393655119)")
            .info
              h3.title Thicker, Healthier Hair In Just One Month 
              span.category Beauty
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/362/medium/open-uri20140228-6348-4hdzwu?1393650940)")
            .info
              h3.title Why Men And Women Argue
              span.category Tips
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/356/medium/open-uri20140228-8795-608jq?1393649726)")
            .info
              h3.title Celebrities Who Made Us Crave Short Hair 
              span.category lebs
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/349/medium/open-uri20140228-8891-1uf90g3?1393648890)")
            .info
              h3.title Simple Exercises To Lose Fat
              span.category Fitness
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/338/medium/open-uri20140228-6145-1kryhp1?1393646955)")
            .info
              h3.title Signs You Are Not Over Your Ex (For Girls)
              span.category Tips
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/325/medium/open-uri20140228-9265-cwrqyx?1393645712)")
            .info
              h3.title Better Options At Quarterback For The Jets
              span.category Funny
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/302/medium/open-uri20140228-8809-194kc3a?1393643093)")
            .info
              h3.title Pictures Of Real Life People Who’ve Been Played By Actors In Films
              span.category Celebs
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/240/medium/open-uri20140228-8769-lr3hao?1393634468)")
            .info
              h3.title Famous Landmarks Being Built
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/212/medium/open-uri20140225-10016-1693zo4?1393385066)")
            .info
              h3.title Hidden Disney Characters In Other Disney Films
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/200/medium/open-uri20140225-8268-14guu8u?1393380999)")
            .info
              h3.title Films You Wish Disney Would Make
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/199/medium/open-uri20140225-7158-18t5xv3?1393355094)")
            .info
              h3.title iPhone 6 Rumored Features And Designs
              span.category Tech
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/177/medium/open-uri20140225-7429-je5v9y?1393351153)")
            .info
              h3.title Richest Actors In The World
              span.category Celebs
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/167/medium/open-uri20140225-7313-1iyu7q?1393349422)")
            .info
              h3.title Richest Actresses In The World
              span.category Celebs
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/157/medium/open-uri20140225-7299-1qx5rxr?1393347854)")
            .info
              h3.title Child Prodigies
              span.category Celebs
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/117/medium/open-uri20140225-7351-1bd9to8?1393341852)")
            .info
              h3.title Highest Grossing Films
              span.category Misc
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/054/medium/open-uri20140222-6856-1n87ube?1393127067)")
            .info
              h3.title The Most Dangerous Things You Can Do With An NFL Player
              span.category Funny
        li.wow.fadeIn
          a(href="view.html")
            .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/007/974/medium/open-uri20140221-10947-o80z2g?1392954418)")
            .info
              h3.title Things That Guys Do That Girls Hate
              span.category Tips

      .loader.text-center
        .spinner
          .rect-1
          .rect-2
          .rect-3
          .rect-4
          .rect-5