doctype
html
  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title #{title} Magz
    link(rel="stylesheet", href="components/foundation/css/normalize.css")
    link(rel="stylesheet", href="components/foundation/css/foundation.css")
    link(rel="stylesheet", href="components/animate.css/animate.min.css")
    link(rel="stylesheet", href="components/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/app.css")
    block css
  
  body.color-0

    section.top
      .row
        .columns.medium-2
          a.logo(href="index.html")
        .columns.medium-5.hide-for-small
          form(method="get", action="search").search-form
            .row.collapse
              .columns.small-9
                input.search-box(placeholder="I'm looking for...", name="q", autocomplete="off")
              .columns.small-3
                input(type="submit", value="search")
        .columns.medium-5.hide-for-small
          ul.social-networks.text-right
            li
              a.facebook.with-counter
                i.fa.fa-facebook-square
                span.counter 1.2M
            li
              a.twitter
                i.fa.fa-twitter
            li
              a.google-plus
                i.fa.fa-google-plus-square
            li
              a.pinterest
                i.fa.fa-pinterest

    //- section.top
      .row

        .columns.small-11.show-on-search.hide.search-form.animated.fadeIn
          div.row.collapse
            div.columns.small-11
              form(method="get", action="search")
                input.search-box.radius(placeholder="I'm looking for...", name="q", autocomplete="off")
            div.columns.small-1.text-center
              a.search-toggle
                i.fa.fa-close
        .columns.small-10.medium-3.small-text-centered.small-centered.medium-uncentered.hide-on-search.animated.fadeIn
          a.logo(href="index.html")
        .columns.small-1.medium-6.large-4.text-right.hide-for-small.hide-on-search.animated.fadeIn
          ul.social-networks
            li
              a.facebook.with-counter
                i.fa.fa-facebook-square
                span.counter 1.2M
            li
              a.twitter
                i.fa.fa-twitter
            li
              a.google-plus
                i.fa.fa-google-plus-square
            li
              a.pinterest
                i.fa.fa-pinterest

    section.menu
      block hero
      .row
        .columns
          a.toggle.show-for-small-only
            | Menu
            i.fa.fa-th-large.space
          ul.menu.show-for-medium-up
            li.home.active
              a(href="index.html")
                i.fa.fa-home
            li
              a(href="") Latest
              ul.sub-menu
                li
                  a(href="#") International News
                li
                  a(href="#") One more category
                li
                  a(href="#") Sport 360
            li
              a(href="") News
              ul.sub-menu
                li
                  a(href="#") International News
                li
                  a(href="#") One more category
                li
                  a(href="#") Sport 360
            li
              a(href="") Science
            li
              a(href="") Life
            li
              a(href="") Culture
            li
              a(href="") Videos
            li
              a(href="") Entertainment
            li.with-fill-menu
              a(href="")
                i.fa.fa-plus-square.space
                | Mores
              .fill-menu
                .columns
                  .menu-content
                    ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2.menu-grid
                      li
                        h3.title Others Categories
                        ul.small-block-grid-2.medium-block-grid-3.menu-sub-grid.categories
                          li
                            a Sport
                          li
                            a Vietnam
                          li
                            a Economic
                          li
                            a Math
                          li
                            a Funny
                      li
                        h3.title Links
                        ul.small-block-grid-2.menu-sub-grid
                          li
                            a Advertising
                          li
                            a Submit Content
                          li
                            a Privacy Policy
                          li
                            a About Us
                          li
                            a Contact Us
                          li
                            a(href="dcma.html") DCMA / Removal

    section.editor
      block editor-menu

    section.notifications
      .row
        .columns.small-12.small-centered.medium-8.large-6
          .notifications
            block notifications

    section.content
      block content

    section.social
      .row
        .columns
          .row.collapse
            .columns.small-12.medium-7.large-8.footer-block
              div.cube-wrapper
                div.social-links
                  div.facebook.front
                    i.fa.fa-facebook
                  div.twitter.bottom
                    i.fa.fa-twitter
                  div.google.back
                    i.fa.fa-google
                  div.pinterest.top
                    i.fa.fa-pinterest
            .columns.small-12.medium-5.large-4.footer-block
              .subscribe
                h1
                  | Get more stuffs like this 
                  b In your Inbox
                form.subscribe
                  .row.collapse
                    .small-8.columns
                      input(type="text", placeholder="your@email.com")
                    .small-4.columns
                      button.postfix.tiny.color.button Sign Up

    section.bottom
      .row
        .columns.small-11.small-centered
          .row
            .columns.small-11.small-centered.medium-5.medium-uncentered
              h2.sub-title Categories
              ul.small-block-grid-3.category-links
                li
                  a(href="") Latest
                li
                  a(href="") News
                li
                  a(href="") Science
                li
                  a(href="") Life
                li
                  a(href="") Culture
                li
                  a(href="") Videos
                li
                  a(href="") Entertainment
                li
                  a(href="")
                    i.fa.fa-plus-square.space
                    | Mores
        
    block modals
    a.scroll-top
      span.fa.fa-arrow-circle-up
      br
      | Top
    script(type="text/javascript", src="components/modernizr/modernizr.js")
    script(type="text/javascript", src="components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="components/foundation/js/foundation.min.js")
    script(type="text/javascript", src="components/jquery.scrollTo/jquery.scrollTo.min.js")
    script(type="text/javascript", src="components/wowjs/dist/wow.min.js")
    script(type="text/javascript", src="components/ScrollToFixed/jquery-scrolltofixed-min.js")
    script(type="text/javascript", src="components/bxslider-4/jquery.bxslider.min.js")
    //- script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5307141d3030dc51", async="async")
    block script
    script(type="text/javascript", src="scripts/app.js")