doctype
html
  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title #{title} Magz
    link(rel="stylesheet", href="components/foundation/css/normalize.css")
    link(rel="stylesheet", href="components/foundation/css/foundation.css")
    link(rel="stylesheet", href="components/animate.css/animate.min.css")
    link(rel="stylesheet", href="components/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/app.css")
    block css
  
  body

    section.top.non-fixed
      .row
        .columns.small-10.medium-5.small-text-centered.small-centered.medium-uncentered
          a.logo.text-center(href="index.html")
            h1.title TeensDigest
            p.sub-title Channel For Teens
        .columns.small-1.medium-6.large-4.text-right.hide-for-small.hide-on-search.animated.fadeIn
          ul.social-networks
            li
              a.facebook.with-counter
                i.fa.fa-facebook-square
                span.counter 1.2M
            li
              a.twitter
                i.fa.fa-twitter
            li
              a.google-plus
                i.fa.fa-google-plus-square
            li
              a.pinterest
                i.fa.fa-pinterest

    section.editor
      block editor-menu

    section.notifications
      .row
        .columns.small-12.small-centered.medium-8.large-6
          .notifications
            block notifications

    section.content
      block content

    //- a.scroll-top
      span.fa.fa-arrow-circle-up
      br
      | Back
      br
      | To Top
    block modals
    script(type="text/javascript", src="components/modernizr/modernizr.js")
    script(type="text/javascript", src="components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="components/foundation/js/foundation.min.js")
    script(type="text/javascript", src="components/wowjs/dist/wow.min.js")
    script(type="text/javascript", src="components/jquery.scrollTo/jquery.scrollTo.min.js")
    block script
    script(type="text/javascript", src="scripts/app.js")