extend manage

block css

block content
	.row
		.columns
			.dz-preview.dz-file-preview
				.dz-details
					.dz-filename.left
						span(data-dz-name) Screen Shot 2014-11-13 at 10.22.46 AM.png
					.dz-size.right
						strong 1
						| MiB
					.clearfix
					img(data-dz-thumbnail, src="http://placekitten.com/g/300/200").hide
					.dz-progress.progress
						span.dz-upload.meter(data-dz-uploadprogress)
					.dz-success-mark.hide
						span ✔
					.dz-error-mark.hide
						span ✘
					.dz-error-message
						span(data-dz-errormessage)