extend layout

block script
  script(type="text/javascript", src="scripts/page.view.js")

block css

block notifications
  .alert-box.note(data-alert)
    | Profile update successfully
    a.close &times;
  .alert-box.note(data-alert)
    | Alerts are handy elements you can drop into a form or inline on a page to communicate success, warnings, failure or just information.
    a.close &times;


block editor-menu
  .row
    .columns.small-12.medium-3.large-2
      h3.title Dashboard
    .columns.small-12.medium-9.large-10
      ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4.sub-menu
        li
          a
            i.fa.fa-dashboard.space-10
            | Dashboard
        li
          a
            i.fa.fa-user.space-10
            | Edit your profile
        li
          a
            i.fa.fa-lock.space-10
            | Sign out
  .row
    .columns.small-12.medium-3.large-2
      h3.title Posts
    .columns.small-12.medium-9.large-10
      ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4.sub-menu
        li
          a
            i.fa.fa-list.space-10
            | Your posts
        li
          a
            i.fa.fa-file.space-10
            | New post
        li
          a
            i.fa.fa-pencil.space-10
            | Edit this post
        li
          a
            i.fa.fa-globe.space-10
            | Unpublish this post

block modals
  #subscribe-modal.reveal-modal.small(data-reveal)
    h2
      | Get more stuff like this 
      b In your inbox
    p Sign up for our daily email and get the stories everyone is talking about
    form.subscribe
      input.radius(type="text", placeholder="your@email.com")
      button Sign Up

block content
  div#fb-root
  script.
    (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=253766078122207&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
  .row
    .columns
      .row.collapse
        .columns.small-12.medium-7.large-8
          .page.feed.color-0
            .header
              .row.collapse
                .columns.small-12.medium-4.large-3
                  .info
                    p.category Life
                    p.author
                      i.fa.fa-user
                      |  Gia
                    p.updated
                      i.fa.fa-calendar
                      |  Nov 3, 2014
                .columns.small-12.medium-8.large-9
                  h1.title These Animals Can Build Structures Better Than Most Modern Architects
            .content
              .navigation.hide-for-small-only
                .row
                  a.button.color.left(href="view.html")
                    i.fa.fa-arrow-left
                    |  Previous
                  a.button.color.right(href="view.html")
                    | Next 
                    i.fa.fa-arrow-right
              .sharing.right.unfloat-for-small(data-reveal-id="subscribe-modal")
                .addthis_sharing_toolbox
              .article
                p
                  | When looking at certain buildings, I often wonder "Someone went to 
                  a(href="http://www.viralnova.com/31-building-fails/",target="_blank") school for this
                  | ?" Some structures are unoriginal and often filled with errors. They will take your breath away...and not in a good way.
                p That's why we should leave it to Mother Nature to show us how it's done. These 10 animals from the wild seem to know more about creating some of the most amazing structures than the so-called "professionals." I almost want to ask where they went to school.
                ul.board.no-counter-number
                  li
                    .counter
                      p.number 1
                      h4.title Swallows
                    .counter
                    .embed
                      img(src="http://images.viralnova.com/000/089/483/desktop-1415064549.jpg")
                      a.source http://images.viralnova.com/000/089/483/desktop-1415064549.jpg
                    p Some swallows don't build nests, but others create theirs from their saliva, which is edible and considered a delicacy.
                    .embed
                      img(src="http://images.viralnova.com/000/089/496/desktop-1415064559.jpg")
                      a.source http://images.viralnova.com/000/089/503/desktop-1415064566.jpg
                    .embed
                      img(src="http://images.viralnova.com/000/089/488/desktop-1415064553.jpg")
                      a.source http://images.viralnova.com/000/089/503/desktop-1415064566.jpg
                  li
                    .counter
                      p.number 2
                      h4.title The Red Ovenbird
                    .embed
                      img(src="http://images.viralnova.com/000/089/503/desktop-1415064566.jpg")
                      a.source http://images.viralnova.com/000/089/503/desktop-1415064566.jpg
                    p These structures are created from mud and clay, and are often used by other birds long after their creators abandon them.
                    .embed
                      img(src="http://images.viralnova.com/000/089/489/desktop-1415064553.jpg")
                      a.source http://images.viralnova.com/000/089/489/desktop-1415064553.jpg
                  li
                    .counter
                      p.number 3
                      h4.title The Montezuma Oropendola
                    .embed
                      img(src="http://images.viralnova.com/000/089/501/desktop-1415064564.jpg")
                      a.source http://images.viralnova.com/000/089/501/desktop-1415064564.jpg
                    p The males will instruct a harem of about 30 females to create homes from small vines and grass.
                    .embed
                      img(src="http://images.viralnova.com/000/089/493/desktop-1415064557.jpg")
                      a.source http://images.viralnova.com/000/089/493/desktop-1415064557.jpg
                  li
                    .counter
                      p.number 4
                      h4.title Wasps
                    .embed
                      img(src="http://images.viralnova.com/000/089/499/desktop-1415064562.jpg")
                      a.source http://images.viralnova.com/000/089/499/desktop-1415064562.jpg
                    p Most wasps avoid creating nests, but social wasps make theirs from plant pulp, spit, resin, and other materials in a particular layering fashion.
                    .embed
                      img(src="http://images.viralnova.com/000/089/485/desktop-1415064550.jpg")
                      a.source http://images.viralnova.com/000/089/485/desktop-1415064550.jpg
                  li
                    .counter
                      p.number 5
                      h4.title Honeybees
                    .embed
                      img(src="http://images.viralnova.com/000/089/495/desktop-1415064558.jpg")
                      a.source http://images.viralnova.com/000/089/495/desktop-1415064558.jpg
                    p It is in these nests constructed out of secreted wax where they process food and raise their young.
                    .embed
                      img(src="http://images.viralnova.com/000/089/480/desktop-1415064547.jpg")
                      a.source http://images.viralnova.com/000/089/480/desktop-1415064547.jpg
                  li
                    .counter
                      p.number 6
                      h4.title Baya Weavers
                    .embed
                      img(src="http://images.viralnova.com/000/089/502/desktop-1415064564.jpg")
                      a.source http://images.viralnova.com/000/089/502/desktop-1415064564.jpg
                    p Often found in colonies, these are typically seen hanging above bodies of water where predators will have a hard time getting to their young.
                    .embed
                      img(src="http://images.viralnova.com/000/089/494/desktop-1415064558.jpg")
                      a.source http://images.viralnova.com/000/089/494/desktop-1415064558.jpg
                  li
                    .counter
                      p.number 7
                      h4.title Caddisfly
                    .embed
                      img(src="http://images.viralnova.com/000/089/497/desktop-1415064561.jpg")
                      a.source http://images.viralnova.com/000/089/497/desktop-1415064561.jpg
                    p When cocooning, this creature spins a tough protective layer out of pebbles, sand, and shells. It weaves these elements together with strands of its own silk to safely grow to adulthood.
                    .embed
                      img(src="http://images.viralnova.com/000/089/484/desktop-1415064550.jpg")
                      a.source http://images.viralnova.com/000/089/484/desktop-1415064550.jpg
                  li
                    .counter
                      p.number 8
                      h4.title The Male Vogelkop Bowerbird
                    .embed
                      img(src="http://images.viralnova.com/000/089/492/desktop-1415064556.jpg")
                      a.source http://images.viralnova.com/000/089/492/desktop-1415064556.jpg
                    p These designer-wannabe birds arrange berries, beetles, flowers, and other colorful/eye-catching ornaments into artistic arrangements to attract mates. The females don't use them to raise their young after mating.
                    .embed
                      img(src="http://images.viralnova.com/000/089/487/desktop-1415064552.jpg")
                      a.source http://images.viralnova.com/000/089/487/desktop-1415064552.jpg
                  li
                    .counter
                      p.number 9
                      h4.title The Sociable Weaver
                    .embed
                      img(src="http://images.viralnova.com/000/089/504/desktop-1415064566.jpg")
                      a.source http://images.viralnova.com/000/089/504/desktop-1415064566.jpg
                    p Found in South Africa, this bird weaves huge communal nests that can host hundreds of birds across multiple generations. These permanent structures woven from sticks and grass contain many inner chambers, allowing the birds to stay warm at night.
                    .embed
                      img(src="http://images.viralnova.com/000/089/478/desktop-1415064546.jpg")
                      a.source http://images.viralnova.com/000/089/478/desktop-1415064546.jpg
                p I think it's time we take a cue from nature and get back to basics after seeing these amazing structures. There's a lot to learn here, after all, since Mother Nature's worked at this a lot longer than your former college roommate.
              .sharing
                .addthis_sharing_toolbox(data-reveal-id="subscribe-modal")
              .navigation
                .row
                  a.button.color.left(href="view.html")
                    i.fa.fa-arrow-left
                    |  Previous
                  a.button.color.right(href="view.html")
                    | Next 
                    i.fa.fa-arrow-right
        .columns.small-12.medium-5.large-4
          ul.feeds.small-block-grid-1
            li.wow.fadeIn
              .news-letter
                .image(style="background-image: url(images/subscribe-bg.jpg)")
                .info
                  h1.title Subscribe Us!
                  p Sign up for our daily email and get the stories everyone is talking about
                  form.subscribe
                    input(type="text", placeholder="your@email.com")
                    button Subscribe
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/167/medium/open-uri20140225-7313-1iyu7q?1393349422)")
                .info
                  h3.title Richest Actresses In The World
                  span.category Celebs
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/157/medium/open-uri20140225-7299-1qx5rxr?1393347854)")
                .info
                  h3.title Child Prodigies
                  span.category Celebs
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/117/medium/open-uri20140225-7351-1bd9to8?1393341852)")
                .info
                  h3.title Highest Grossing Films
                  span.category Misc
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/054/medium/open-uri20140222-6856-1n87ube?1393127067)")
                .info
                  h3.title The Most Dangerous Things You Can Do With An NFL Player
                  span.category Funny
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/007/974/medium/open-uri20140221-10947-o80z2g?1392954418)")
                .info
                  h3.title Things That Guys Do That Girls Hate
                  span.category Tips
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/362/medium/open-uri20140228-6348-4hdzwu?1393650940)")
                .info
                  h3.title Why Men And Women Argue
                  span.category Tips
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/356/medium/open-uri20140228-8795-608jq?1393649726)")
                .info
                  h3.title Celebrities Who Made Us Crave Short Hair 
                  span.category lebs
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/349/medium/open-uri20140228-8891-1uf90g3?1393648890)")
                .info
                  h3.title Simple Exercises To Lose Fat
                  span.category Fitness
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/338/medium/open-uri20140228-6145-1kryhp1?1393646955)")
                .info
                  h3.title Signs You Are Not Over Your Ex (For Girls)
                  span.category Tips
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/325/medium/open-uri20140228-9265-cwrqyx?1393645712)")
                .info
                  h3.title Better Options At Quarterback For The Jets
                  span.category Funny
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/302/medium/open-uri20140228-8809-194kc3a?1393643093)")
                .info
                  h3.title Pictures Of Real Life People Who’ve Been Played By Actors In Films
                  span.category Celebs
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/240/medium/open-uri20140228-8769-lr3hao?1393634468)")
                .info
                  h3.title Famous Landmarks Being Built
                  span.category Misc
            li.wow.fadeIn
              a(href="view.html")
                .image(style="background-image: url(http://us.teensdigest.s3.amazonaws.com/pages/images/000/008/212/medium/open-uri20140225-10016-1693zo4?1393385066)")
                .info
                  h3.title Hidden Disney Characters In Other Disney Films
                  span.category Misc

          .facebook-box
            div.info
              h1.title Facebook
              .content
                .fb-like-box(data-href="https://www.facebook.com/FacebookDevelopers", data-colorscheme="light", data-show-faces="true", data-header="false", data-stream="false", data-show-border="false", data-width="100%", data-height="350")