<div class="wrap">
  <div class="scrollbar">
    <div class="handle">
      <div class="mousearea"></div>
    </div>
  </div>

  <div class="frame" id="cycleitems" style="overflow: hidden;">
    <ul class="">
      <% articles.each do |arti| %>
        <li class="box box-hold post shown has-image"
        style="background-image: url(<%= arti.thumbnail %>);background-position: center center; background-size: cover; background-color: #d9d9d9;">
        <a href="<%= article_url(arti) %>">
          <h2><%= arti.title %></h2>
          <span class="author-block"></span>
        </a>
        </li>
      <% end %>
    </ul>
  </div>
  <!--
  <div class="controls center">
    <button class="sly-btn prev"><i class="icon-previous"></i>prev</button>
    <button class="sly-btn next">next<i class="icon-next"></i></button>
  </div>
  -->
</div>
