<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5459a18c0cf8482a" async="async"></script>
<div class="row">
  <div class="columns">
    <div class="row collapse">
      <div class="columns small-12 medium-7 large-8">
        <div class="page feed color-0">
          <div class="header">
            <div class="row collapse">
              <div class="columns small-12 medium-4 large-3">
                <div class="info">
                  <p class="category">Info</p>
                  <p class="updated"><i class="fa fa-calendar"></i> Dec 15, 2014</p>
                </div>
              </div>
              <div class="columns small-12 medium-8 large-9">
                <h1 class="title">Privacy Policy</h1>
              </div>
            </div>
          </div>
          <div class="content">
            <div data-reveal-id="subscribe-modal" class="sharing right unfloat-for-small"> <div class="addthis_sharing_toolbox"></div></div>
            <div class="article">
  <p>This privacy policy sets out how Trends Read uses and protects any information that you give us when you use this website. Trends Read  is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. Trends Read may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from December 15, 2014.</p>

  <h4> WHAT WE COLLECT </h4>

  <p>E-mail address (for use to send you the daily Trends Read newsletter, which you can unsubscribe from at any time).</p>
  <p>Additionally, we collect non-personally identifiable information for aggregation such as, among other things, visitor browser type and screen resolution.</p>

  <h4>SECURITY</h4>

  <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

  <h4>COOKIES</h4>

  <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
  <p>Additionally, Trends Read utilizes cookies to show our advertisements to you on various websites on the Internet.</p>

  <h4>THIRD PARTY VENDORS</h4>

  <p>Third party vendors, including Google, use cookies to serve ads based on a your prior web site visits.</p>
  <p>Google's use of the DoubleClick cookie enables it and its partners to serve ads to you based on your visits to Trends Read and/or other sites on the Internet.</p>
  <p>Third parties may use cookies, web beacons, and similar technologies to collect or receive information from your website and elsewhere on the internet and use that information to provide measurement services and target ads.</p>

  <h4>LINKS TO OTHER WEBSITES</h4>

  <p>Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

  <h4>CHANGES TO THIS PRIVACY POLICY</h4>

  <p>We may update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your Trends Read account or by placing a prominent notice on our site.</p>

            </div>
            <div class="sharing">
              <div data-reveal-id="subscribe-modal" class="addthis_sharing_toolbox"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns small-12 medium-5 large-4">
        <ul class="feeds small-block-grid-1">
          <li class="wow fadeIn">
          <%= render partial: "layouts/subscribe" %>
          </li>
        </ul>
        <div class="links-box">
          <h1 class="title">Readmore</h1>
          <ul class="links">
            <li><%= link_to "Privacy Policy", info_privacy_path %></li>
            <li><%= link_to "Contact", new_message_path %></li>
          </ul>
        </div>
        <div class="facebook-box">
          <div class="info">
            <h1 class="title">Facebook</h1>
            <div class="content">
              <div data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-width="100%" data-height="350" class="fb-like-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
