<div class="large-screen-only" style="display: inline; display: inline-block; line-height: 1;">
<div class="fb-like" data-href="https://www.facebook.com/pages/Teens-Digest/672493162777497" data-height="28" data-colorscheme="light" data-layout="button_count" data-show-faces="false" style="display:inline-flex; vertical-align:middle;"></div>
</div>
