<div id="footer">
  <div class="row-fluid footer-lower">
    <div class="footer-inner">
      <p class="span6 copyright">Copyright © 2014 Teen's Digest. All rights reserved.</p>
      <p class="span6 credit">
        <%= link_to 'Term of Service', info_term_path %>
        <%= link_to 'Privacy Policy', info_privacy_path %>
        <%= link_to 'DMCA', info_dmca_path %>
        <%= link_to 'Contact', info_contact_path %>
      </p>
    </div>
  </div>
</div>
