<div id="search-menu" class="overlay hidden">
  <div id="search-popup" style="right: -320px;">
    <div id="search-popup-header">
      <i class="icon-close" id="search-close" style="cursor: pointer;"></i>
    </div>
    <div id="search-popup-content">
      <div id="search-popup-content-inner">
          <div id="search-results-container">
          </div>
      </div>
    </div>
    <div id="search-spin-container">
      <div id="search-popup-spinner" class="spinner spinner--steps2 icon-spinner2" aria-hidden="true"></div>
    </div>
  </div>
</div>
