<div class="news-letter">
  <div style="background-image: url(/images/subscribe-bg.jpg)" class="image"></div>
  <div class="info">
    <h1 class="title">Subscribe Us!</h1>
    <p>Sign up for our daily email and get the stories everyone is talking about</p>
    <form class="subscribe" data-remote="true" method="post"
      id="new_subscriber" action="<%= subscribers_path %>">
      <input type="text" name="subscriber[email]" placeholder="your@email.com">
      <button type="submit">Subscribe</button>
    </form>
  </div>
</div>

