<div>
<h5> Date range (YYYY-MM-DD)</h5>
<form action="" style="margin: 0px">
  <input type="text" class="string required datepicker" name="startDate" style="margin-bottom: 0px" value="<%= startDate %>">
<span class=""> – </span>
<input type="text" class="string required datepicker " name="endDate" style="margin-bottom: 0px" value="<%= endDate %>">
<input type="submit" class="btn" value="Apply">
<input type="submit" name="specialRange" class="btn" value="Today">
<input type="submit" name="specialRange" class="btn" value="This month">
<input type="submit" name="specialRange" class="btn" value="This year">
</form>
</div>


